[Desktop Entry]
Type=Application
Name=cloudini_rosbag_converter
Comment=Cloud point compression tool
Exec=cloudini_rosbag_converter
Icon=cloudini
Categories=Utility;Science;
Keywords=pointcloud;compression;rosbag;
