Source: ros-jazzy-cloudini-ros
Section: misc
Priority: optional
Maintainer: Davide Faconti <davide.faconti@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-cloudini-lib, ros-jazzy-mcap-vendor, ros-jazzy-pcl-conversions, ros-jazzy-pcl-ros, ros-jazzy-pluginlib, ros-jazzy-point-cloud-interfaces, ros-jazzy-point-cloud-transport, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-rosbag2-cpp, ros-jazzy-sensor-msgs, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-cloudini-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-cloudini-lib, ros-jazzy-mcap-vendor, ros-jazzy-pcl-conversions, ros-jazzy-pcl-ros, ros-jazzy-pluginlib, ros-jazzy-point-cloud-interfaces, ros-jazzy-point-cloud-transport, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-rosbag2-cpp, ros-jazzy-sensor-msgs, ros-jazzy-ros-workspace
Description: Main library of Cloudini, the pointcloud compression library
